*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: 0 auto;
}
body{
    height: 100vh;
    header{
        box-shadow: 10px 0 10px black;
        .header-content{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo{
                img{
                    width: 70%;
                }
            }
            nav{
                width: 30%;
                ul{
                    display: flex;
                    list-style-type: none;
                    width: 100%;
                    justify-content: space-between;
                }
            }
            .header-button-container{
                width: 30%;
                justify-content: space-between;
                button{
                    padding: 10px;
                    font-size: 1.2em;
                    border-radius: 10px;
                    color: white;
                }
                button:first-child{
                    background: green;
                }
                button:last-child{
                    background: orange;
                }
            }
        }
    }
    .container{
        .btn{
            background: green;
            color: #ffffff;
            padding: 50px 50px;
            border-radius: 5px;
        }
        .main-content{
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .card{
                width: 22%;
                text-align: center;
                display: flex;
                flex-direction: column;
                gap: 20px;
                border: 1px solid gray;
                box-shadow: 5px 5px 10px 0;
                img{
                    width: 100%;
                }
                button{
                    padding: 10px;
                    background: green;
                    color: white;
                }
            }
        }
    }
}